<template>
  <div class="tile " >
    <div class="tile-icon">
      <i class="icon icon-time"></i>
    </div>
    <div class="tile-content">
      <div class="tile-subtitle">{{ fun.description }}</div>
      <div class="tile-subtitle">{{ fun.setor }}</div>
      <div class="tile-subtitle">{{ fun.salario }}</div>
      <div class="tile-subtitle">{{ fun.email }}</div>
      <div class="tile-subtitle">{{ fun.idade }}</div>
    </div>

    <div class="tile-action">
      <button @click="$emit('remove', fun)" class="btn btn-error">
        <span class="text-warning">Remover funcionário</span>
      </button>
      <button v-on:click="hide = !hide" class="btn">Editar</button>
    </div>

    <div id="alteracoes" v-if="hide">
        <div>
          <input id="alteraNome" type="text" placeholder="novo nome">
          <button @click="$emit('editNome', fun)" class="btn" >Alterar</button>
        </div>
        <div>
          <input id="alteraSetor" type="text" placeholder="novo setor">
          <button @click="$emit('editSetor', fun)" class="btn" >Alterar</button>
        </div>
        <div>
          <input id="alteraSalario" type="text" placeholder="novo salario">
          <button @click="$emit('editSalario', fun)" class="btn" >Alterar</button>
        </div>
        <div>
          <input id="alteraEmail" type="text" placeholder="novo email">
          <button @click="$emit('editEmail', fun)" class="btn" >Alterar</button>
        </div>
        <div>
          <input id="alteraIdade" type="text" placeholder="nova idade">
          <button @click="$emit('editIdade', fun)" class="btn" >Alterar</button>
        </div>
    </div>
  </div>
</template>



<script>
export default {
  data() {
    return { hide: false }
  },
  props: {
    fun: { type: Object, required: true }
  }
};
</script>
