<template>
  <div class id="app">
    <div class="container grid-xs py-2">
      <img src="@/assets/logo.png" height="100" width="150">
      <div class=""></div>
      <button v-on:click="mostraForm = !mostraForm" class="btn btn-link btn-error text-warning">Cadastrar novos funcionários</button>
      <button v-on:click="mostraCadastros = !mostraCadastros" class="btn btn-link btn-error text-warning">Ver cadastros</button>
      <form v-if="mostraForm" @submit.prevent="addFunc(fun)">
        <div class="input-group">
          <input type="text" v-model="fun.description" class="form-input required" placeholder="Digite o nome do funcionario">
        </div>
        <div class="input-group">
          <input type="text" v-model="fun.setor" class="form-input" placeholder="Digite o setor do funcionario">
        </div>
        <div class="input-group">
          <input type="text" v-model="fun.salario" class="form-input" placeholder="Digite o salário do funcionario">
        </div>
        <div class="input-group">
          <input type="text" v-model="fun.email" class="form-input" placeholder="Digite o email do funcionario">
        </div>
        <div class="input-group">
          <input type="text" v-model="fun.idade" class="form-input" placeholder="Digite a idade do funcionario">
        </div>
        <button class="btn btn-error input-group-btn">Adicionar funcionário</button>

        
      </form>
      <div v-if="mostraCadastros" class="lista-tarefas">
        <fun  v-for="f in funcionarios" :key="f.id" @editNome="editarNome" @editSetor="editarSetor" @editSalario="editarSalario" @editEmail="editarEmail" @editIdade="editarIdade" @remove="removeTarefa" :fun="f" />
      </div>
    </div>
  </div>
</template>


<script>
import fun from './components/fun'

export default {

  name: "app",

  components: { fun },

  data() {
    
    return { mostraForm: false, mostraCadastros: false, funcionarios: [], fun: { checked: false } };
  },

  methods: {
    addFunc(fun) {
      fun.id = Date.now();
      this.funcionarios.push(fun);
      this.fun = { checked: false };
    },

    editarNome(fun) {
      fun.description = document.getElementById("alteraNome").value;
    },

    editarSetor(fun) {
      fun.setor = document.getElementById("alteraSetor").value;
    },

    editarSalario(fun) {
      fun.salario = document.getElementById("alteraSalario").value;
    },

    editarEmail(fun) {
      fun.email = document.getElementById("alteraEmail").value;
    },

    editarIdade(fun) {
      fun.idade = document.getElementById("alteraIdade").value;
    },
        
    removeTarefa(fun) {
      for(var i=0; i<this.funcionarios.length; i++){ 
        if ( this.funcionarios[i] === fun) { 
            this.funcionarios.splice(i, 1); 
        }
    }
    }
  }
};
</script>
